body{
    background-image: url("fond.jpg");
}
#cc{

    display: flex;
    flex-direction: row;
    width: 500px ;
    height: 300px;
    background-color: pink;
    border: 1px solid black ;
    
    position: relative;
    left:30% ;
    top: 150px ;
}
#side{
    flex:25% ;
    background-color: white;
    color: pink ;
    text-align: center;
}
#side h3{
    position : relative ;
    top : 40% ;
}
#main{
    flex:75% ;
    background-color: pink;
    color : white ;
    text-align: center;
}
#main p:last-of-type{
    position: absolute ;
    bottom :0px ;
    font-size: 20px;
}
#main h1{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}